@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body,html,p {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
.text-center {
  text-align: center;
}
.spaced-title {
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.quote {
  display: block;
  quotes: "“" "”" "‘" "’";
  font-style: italic;
  font-family: Constantia, Lucida Bright, Lucidabright, Lucida Serif, Lucida, DejaVu Serif, Bitstream Vera Serif, Liberation Serif, Georgia, serif;
  line-height: 1.85rem;
}
.italicized {
  font-style: italic;
  font-family: Constantia, Lucida Bright, Lucidabright, Lucida Serif, Lucida, DejaVu Serif, Bitstream Vera Serif, Liberation Serif, Georgia, serif;
}
em > strong {
  color: red !important;
}
.w-50 {
  width: 50%;
}
.border-top-0 {
  border-top-width: 0px;
}
.border-0 {
  border-width: 0px;
}
.border-right {
  border-right-width: 1px;
}
.border-bottom {
  border-bottom-width: 1px;
}
.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.p-5 {
  padding: 1.5rem;
}

hr.divider {
  width: 50%;
  margin-top: 3rem;
  padding-top: 3rem;
}

table.no-striped tr:nth-child(2n) {
  background-color: transparent;
}

.content ul li {
  padding-bottom: 0.5rem;
}

.content a {
  color: #377dff !important;
}

ul.list-unstyled {
  list-style-type: none;
  padding-left: 0px;
}

ul.list-unstyled li {
  line-height: 1.2rem;
  margin-bottom: 0.75rem;
}

ul.list-sources {
  list-style-type: none;
  padding-left: 0px;
}

ul.list-sources li {
  padding-bottom: 0px;
  line-height: 1.2rem;
  margin-bottom: 0.25rem;
}

.text-italic {
  font-style: italic;
}

.text-red {
  color: #ff0000;
}

.poem {
  text-align: center;
  display: block;
  width: 350px;
  margin: 2.5rem auto 0;
  font-style: italic;
  font-family: Constantia, Lucida Bright, Lucidabright, Lucida Serif, Lucida, DejaVu Serif, Bitstream Vera Serif, Liberation Serif, Georgia, serif;
}

@media only screen and (max-width: 600px) {
  hr.divider {
    margin-top: 2rem;
    padding-top: 1rem;
  }
}

table.comparison {
  tr {
    background-color: #ffffff;
  }
  tr.title {
    background-color: #f6f8fa;
  }
  td {
    text-align: center;
  }
}

a.sidebar-link.active {
  font-weight: 600;
  color: #f93724;
  border-left-color: #f93724;
}
a.sidebar-link:hover {
    color: #f93724;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

h4.highlight {
  margin-top: 0rem !important;
  background-color: #ffffee;
  padding: 10px !important;
}