.text-center {
  text-align: center;
}
.spaced-title {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-size: 1.1rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.italicized {
  font-style: italic;
  font-family: Constantia, Lucida Bright, Lucidabright, Lucida Serif, Lucida, DejaVu Serif, Bitstream Vera Serif, Liberation Serif, Georgia, serif;
}
em > strong {
  color: red !important;
}
.w-50 {
  width: 50%;
}
.border-top-0 {
  border-top-width: 0px;
}
.border-0 {
  border-width: 0px;
}
.border-right {
  border-right-width: 1px;
}
.border-bottom {
  border-bottom-width: 1px;
}

table.no-striped tr:nth-child(2n) {
  background-color: transparent;
}